# Python bytecode dosyaları
practice/__pycache__/
*.py[cod]
*$py.class

# Sanal ortam klasörleri
.venv/
venv/
env/

# IDE ve editör dosyaları
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Log ve çıktı dosyaları
*.log
*.out

# Jupyter Notebook checkpoint dosyaları
.ipynb_checkpoints/

# Kişisel ayar dosyaları
*.env